.react-select__control {
  border: none !important;
  box-shadow: none !important;
  border-radius: 50px !important;
  cursor: pointer !important;
  border: 1px solid var(--primary-border-color) !important;
}

.css-1okebmr-indicatorSeparator{
    background: none !important;
}

.css-1gtu0rj-indicatorContainer {
    color: var(--base-tertiary-color) !important;
}

.css-yk16xz-control {
    height: 35px !important;
    min-height: 35px !important;
    flex-wrap: inherit !important;
}

.css-1pahdxg-control {
    min-height: 35px !important;
}

.css-26l3qy-menu {
    min-height: 35px !important;
    z-index: 1 !important;
    color: var(--primary-text-color) !important;
}

.react-select__control--is-focused {
  height: 35px !important;
  border: 1px solid var(--base-tertiary-color) !important;
}

.react-select__single-value {
  color: var(--primary-text-color) !important;
}

.react-select__option--is-focused {
    color: var(--base-tertiary-color) !important;
    background: #f8f8f8 !important;
}

.react-select__option--is-selected {
  background: var(--base-tertiary-color) !important;
  color: #fff !important;
}


.hTaQZk textarea,
.hTaQZk input {
  margin-bottom: 0px !important;
}

.css-g1d714-ValueContainer {
    position: relative !important;
}

.css-b8ldur-Input {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.react-select__value-container--error {
  border-color: red !important;
}

.css-g1d714-ValueContainer {
  padding: 0px 12px !important;
}


.css-1pahdxg-control {
    flex-wrap: inherit !important;
}
