.react-select__control {
  border-radius: 0px !important;
  border: none !important;
  box-shadow: none !important;
  cursor: pointer !important;
  border-bottom: 1px solid var(--primary-border-color) !important;
}

.css-1okebmr-indicatorSeparator{
    background: none !important;
}

.css-1gtu0rj-indicatorContainer {
    color: var(--base-tertiary-color) !important;
}

.css-yk16xz-control {
    height: 35px !important;
    min-height: 35px !important;
}

.css-1pahdxg-control {
    min-height: 35px !important;
}

.css-26l3qy-menu {
    min-height: 35px !important;
    z-index: 5 !important;
}

.react-select__control--is-focused {
  height: 35px !important;
  border-bottom: 1px solid var(--base-tertiary-color) !important;
}

.react-select__single-value {
  color: var(--primary-text-color) !important;
}

.react-select__option--is-focused {
    color: var(--base-tertiary-color) !important;
    background: #f8f8f8 !important;
}

.react-select__option--is-selected {
  background: var(--base-tertiary-color) !important;
  color: #fff !important;
}


.hTaQZk textarea,
.hTaQZk input {
  margin-bottom: 0px !important;
}

.react-select__value-container {
  height: 35px !important;
}

.react-select__value-container--error {
  border-color: red !important;
}
